.loading-circle {
  width: 20px;
  height: 20px;
  border: 5px solid #3498db;
  border-top: 5px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-circle.loaded {
  animation: none;
  border: 5px solid #3498db;
  border-top: 5px solid #3498db;
  background-color: #3498db;
}
