.card_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 20px;
  margin-top: 50px;
}

.card_container {
  max-width: 340px;
  color: black;
}

.image_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card_image img {
  border: 1px solid black;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: -50px;
}

.card_layout {
  border: 1px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 200px;
  -moz-box-shadow: 0 0 8px gray;
  -webkit-box-shadow: 0 0 8px gray;
  box-shadow: 0 5px 8px gray;
}

.card_body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pod_title {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.artist_name {
  margin-top: -20px;
  margin-right: 20px;
}